body{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
background:url("https://images.unsplash.com/photo-1622286342621-4bd786c2447c?q=80&w=1600&auto=format&fit=crop") center center;
background-size:cover;
color:white;
}

.overlay{
background:rgba(0,0,0,.75);
min-height:100vh;
padding:30px 20px;
}

.container{
max-width:420px;
margin:auto;
}

h1{
text-align:center;
font-size:42px;
color:#00A3FF;
margin-bottom:10px;
}

.subtitulo{
text-align:center;
font-size:22px;
font-weight:bold;
}

.descricao{
text-align:center;
color:#ddd;
margin-bottom:30px;
}

.card{
background:#1b1b1b;
border-radius:18px;
padding:20px;
margin-bottom:20px;
box-shadow:0 5px 20px rgba(0,0,0,.4);
}

.card h2{
margin-top:0;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:12px;
background:#00A3FF;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
margin-top:15px;
}

button:hover{
background:#0087d6;
}

.info{
background:#1b1b1b;
padding:20px;
border-radius:18px;
}

.info ul{
padding-left:20px;
}

.info li{
margin:12px 0;
}
